h1{
  background-color:#818181 ;
  color: fff;
}

body{
  background-image: url(https://lh3.googleusercontent.com/proxy/ei8ni_8YqAsWGMSwbGE6REUzOUEOqZ_t-rRwXadlQ7CgH3_s8beNKVo7Z9XcZywilbpnqlLTQiyJuUzUDGodYYg_OzaB)

}
#contents{
    border: 1px
    solid #444242; 
    background-color:whitesmoke;
}

#contents1{
  border: 1px
  solid #444242; 
  background-color:whitesmoke;
}

#contents2{
  border: 1px
  solid #444242; 
  background-color:whitesmoke;
}